<?xml version="1.0" encoding="UTF-8"?>

<!-- mybatis dtd -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ming.project.donggram.post.dao.PostDAO">

	<insert id="insertPost" parameterType="map">
	
		INSERT INTO
			`post`
		(
			`userId`
			, `imagePath`
			, `contents`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{imagePath}
			, #{content}
			, now()
			, now()
		)
		
	</insert>
	
	<select id="selectPostUser" parameterType="int" resultType="object">
	
		SELECT
			P.id, P.imagePath, P.contents, U.loginId, U.name
		FROM
			`post` AS `P`
		JOIN
			`user` AS `U`
		ON
			P.userId = U.id
		WHERE
			P.userId = #{userId}
			
	</select>
	
	<!-- 게시물 보기 -->
	<select id="selectPostById" parameterType="int"
	resultType="com.ming.project.donggram.post.model.Post">
	
		SELECT
			`id`
			, `userId`
			, `imagePath`
			, `contents`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`id` = #{postId}
	
	</select>
	
	<!-- 게시물 보기 (postId, userId) -->
	<select id="selectPostByIdAndUserId" parameterType="map"
	resultType="com.ming.project.donggram.post.model.Post">
	
		SELECT
			`id`
			, `userId`
			, `imagePath`
			, `contents`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`id` = #{postId}
			AND `userId` = #{userId}
	
	</select>
	
	<!-- 타임라인에 post 가져오기 -->
	<select id="selectPostList" resultType="com.ming.project.donggram.post.model.Post">
	
		SELECT
			`id`
			, `userId`
			, `imagePath`
			, `contents`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		ORDER BY
			`id` DESC
	</select>
	
	<update id="updatePost" parameterType="map">
	
		UPDATE
			`post`
		SET
			`contents` = #{content}
			, `updatedAt` = now()
		WHERE
			`id` = #{postId}

	</update>	
	
	<delete id="deletePost" parameterType="int">
		
		DELETE FROM
			`post`
		WHERE
			`id` = #{postId}
			
	</delete>
	
</mapper>