<?xml version="1.0" encoding="UTF-8"?>

<!-- mybatis dtd -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ming.project.donggram.user.dao.UserDAO">

	<insert id="insertuser" parameterType="map">
	
		INSERT INTO
			`user`
		(
			`loginId`
			, `password`
			, `name`
			, `email`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{loginId}
			, #{password}
			, #{name}
			, #{email}
			, now()
			, now()
		)
	
	</insert>


	<select id="selectCountLoginId" resultType="int" parameterType="string">
		
		SELECT
			count(*)
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}	
		
	</select>
</mapper> 