@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');


/*
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Libre+Baskerville:ital@1&display=swap');
	font-family: 'Jua', sans-serif;
	font-family: 'Libre Baskerville', serif;
*/
#wrap {
	width: 1200px;
	margin: auto;
}

header {
	height: 70px;
	width: auto;
}

header > #searchBox {
	width: 400px;
}

.main-header {
	width: 300px;
	font-family: 'EB Garamond', serif;
}

.main-header > a {
	text-decoration: none;
	color: black;
}

header > .userInfo {
	width: 100px;
}

a:hover {
	color: gray;
	text-decoration: none;
}

nav {
	width: 200px;
}

.nav-item > a {
	text-decoration: none;
	color: black;
}

section

.contents {
	width: 800px;
}

.contents > .content-box {
	width: 400px;
}

.contents > .feed {
	width: 700px;
}

.feed > .user-info-box {
	width: 700px;
	height: 80px;
}

.feed > .feed-img-box {
	width: 700px;
	height: 600px;
}

.feed > .feed-info-box {
	width: 700px;
	height: 220px;
}

.textMoreBtn:hover {
	text-decoration: none;
}

.contents > #postImg {
	width: 400px;
	height: 400px;
}

.postBox {
	width: 1000px;
}


footer {
	height: 70px;
	width: 800px;
}