@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');


/*
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Libre+Baskerville:ital@1&display=swap');
	font-family: 'Jua', sans-serif;
	font-family: 'Libre Baskerville', serif;
*/

header {
	height: 70px;
	width: 800px;
}

.main-header {
	font-family: 'EB Garamond', serif;
}

.contents {
	width: 800px;
}

.contents > .content-box {
	width: 400px;
}

footer {
	height: 70px;
	width: 800px;
}